/* 
@import url('https://fonts.googleapis.com/css2?family=Karma:wght@300;400;500;600;700&family=Madimi+One&display=swap');
*{
    font
} */
* {
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", Helvetica, Arial, sans-serif;
  font-weight:  300; 
  margin:  0; 
}
.madimi-one-regular {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
html, body {
  height:  100vh; 
  width:  100vw;
  margin:  0 0; 
  display:  flex; 
  align-items:  flex-start; 
  justify-content:  flex-start; 
  background:  #f3f2f2; 
  background-image: url('../img/Fondo_body.png');
  background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  }
.session {
  display:  flex; 
  flex-direction:  row; 
  width:  auto; 
  height:  auto; 
  margin:  auto auto; 
  background:  #ffffff;
  border-radius:  30px; 
  box-shadow:  0px 2px 6px -1px rgba(0,0,0,.12);
}
.rigth {
  width:  300px; 
  height:  auto; 
  min-height:  100%; 
  position:  relative; 
  background-image: url('../img/Fondo_body.png');
  background-size:  cover;
  border-top-right-radius:  15px; 
  border-bottom-right-radius:  15px; 
  display: grid;
  place-items: center;
}
.info_name{
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  padding:  40px 30px; 
  background:  #fefefe; 
  display:  flex; 
  flex-direction:  column;
  align-items:  flex-start; 
  padding-bottom:  20px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px; 
}
#popup_msj{
  height: 16px;
  width: 300px;
  font-size: 15px;
  text-align: center;
  color: #b30101;
}
.name_soft{
  font-size: xx-large;
  color: #d6d7ee;
}
.msj_name{
  font-size: small;
  color: #f5f6f7;
  margin-bottom: 60px;
}
#msj_bienvenida{
  font-size: xx-large;
  /* color: #3b2c80; */
  color: #6D0D88;
}
#txt_info{
  font-size: medium;
  color: #636060;
  margin-bottom: 30px;
}

input {
  font-size:  16px; 
  padding:  5px 0px; 
  margin-bottom: 15px;
  height:  30px; 
  border:  none; 
  border-bottom:  solid 1px rgba(0,0,0,.1); 
  background:  #fff; 
  min-width:  280px; 
  box-sizing:  border-box; 
  transition:  all .3s linear; 
  color:  #000; 
  font-weight:  400; 
  &:focus {
    border-bottom:  solid 1px rgb(182,157,230); 
    outline: 0; 
    box-shadow:  0 2px 6px -8px rgba(rgb(182,157,230), .45);
  }
}
button {
  width:  auto;
  min-width:  100px;
  border-radius:  24px; 
  text-align:  center; 
  padding:  15px 40px;
  margin-top: 15px;
  background-color: #E9295C;
  color:  #e0e0e0; 
  font-size:  14px;
  margin-right:  auto; 
  margin-left:  auto;     
  font-weight:  500; 
  box-shadow:  0px 2px 6px -1px rgba(0,0,0,.13); 
  border:  none;
  transition:  all .3s ease; 
  outline: 0; 
  &:hover {
    transform:  translateY(-3px);
    box-shadow:  0 2px 6px -1px rgba(rgb(182,157,230), .65);
    &:active {
      transform:  scale(.99);
    }
  }
}